.footer {
    color: #0a5bfc;
    background-color: #a6e1ff;
    margin-top: 1em;
    padding-top: 1rem;
}

.info {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 2;
    font-size: 17px;
}

.info a {
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

.copyright {
    margin-top: 1rem;
}

@media screen and (max-width: 420px) {
	.info a {
		font-size: 18px;
	}
	.info {
		line-height: 1;
		font-size: 12px;
	}
}
