.footer {
    color: white;
    background-color: #0037ff;
    margin-top: 1em;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.info {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 2;
    font-size: 17px;
}

.info a {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.copyright {
    margin-top: 1rem;
}