.form-title {
    color: #0a5bfc;
    text-align: center;
    font-size: 2rem;
    margin-top: 1em;
    margin-bottom: 1em;
}

.send {
    display: flex;
    justify-content: center;
}

.send-btn {
    color: white;
    font-size: 1.1rem;
    padding: 1rem 3rem;
    box-shadow: none;
    border: none;
}

@media screen and (max-width: 770px) {
    .form-dangky {
        margin-left: 75px;
        margin-right: 75px;
    }
}

@media screen and (max-width: 550px) {
    .form-dangky {
        margin-left: 25px;
        margin-right: 25px;
    }
}