.product-img {
    width: 100%;
    height: 100%;
}

.name {
    margin-bottom: 1rem;
    color: #0a5bfc;
    border-bottom: 1px solid gray;
}

.price {
    color: orange;
}

.product-description {
    margin: 1rem 5rem;
}

.specifications {
    width: 100%;
    border: 0;
    font-size: 1.1rem;
    
}

.category {
    background-color: #74848c;
    color: white;
    width: 30%;
    padding-left: 8px;
}

.number {
    background-color: #ced7db;
    text-align: center;
}

.specifications td {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    padding-top: 6px;
    padding-bottom: 6px;
}

.specifications th {
    background-color: #2190cc;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
}

.specifications:nth-of-type(n + 2) {
    margin-top: 1.5rem;
}

.img {
    width: 100%;
    height: auto;
}

.operation p {
    font-size: 1.1rem;
}

.operation-title {
    text-align: center;
    color: #000478;
    margin-bottom: 2rem;
}

.operation-img {
    width: 100%;
    height: auto;
}

.feature button {
    font-size: 1.2rem;
    color: #000478;
}

.feature p {
    font-size: 1.1rem;
}

.accordion-body {
    background-color: #198754;
    color: white;
}

.magnify{
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    z-index: 20;
    background-repeat: no-repeat;
    background-color: white;
    box-shadow: inset 0 0 20px rgba(0,0,0,.5);
    display: none;
    cursor: none;
}
